In [1]:
import pandas as pd

# merging two dataframe

In [2]:
a=pd.DataFrame({"A":[1,2,3,4],"B":[5,6,7,8]})
a

   A  B
0  1  5
1  2  6
2  3  7
3  4  8

In [3]:
b=pd.DataFrame({"A":[4,3,2,1],"C":[8,7,6,5]})
b

   A  C
0  4  8
1  3  7
2  2  6
3  1  5

In [4]:
pd.merge(a,b,on="A")

   A  B  C
0  1  5  5
1  2  6  6
2  3  7  7
3  4  8  8

In [5]:
pd.merge(b,a,on="A")

   A  C  B
0  4  8  8
1  3  7  7
2  2  6  6
3  1  5  5

In [6]:
b=pd.DataFrame({"A":[4,3,2,15],"C":[8,7,6,5]})
pd.merge(b,a,on="A")

   A  C  B
0  4  8  8
1  3  7  7
2  2  6  6

In [7]:
pd.merge(b,a,how="left")

    A  C    B
0   4  8  8.0
1   3  7  7.0
2   2  6  6.0
3  15  5  NaN

In [8]:
pd.merge(b,a,how="right")

   A    C  B
0  1  NaN  5
1  2  6.0  6
2  3  7.0  7
3  4  8.0  8

In [9]:
pd.merge(b,a,how="outer")

    A    C    B
0   4  8.0  8.0
1   3  7.0  7.0
2   2  6.0  6.0
3  15  5.0  NaN
4   1  NaN  5.0

In [10]:
pd.merge(b,a,how="left",indicator=True)

    A  C    B     _merge
0   4  8  8.0       both
1   3  7  7.0       both
2   2  6  6.0       both
3  15  5  NaN  left_only

In [11]:
c=pd.DataFrame({"A":[4,3,2,1],"B":[8,7,6,5]})

In [12]:
pd.merge(a,c,right_index=True,left_index=True)

   A_x  B_x  A_y  B_y
0    1    5    4    8
1    2    6    3    7
2    3    7    2    6
3    4    8    1    5

In [13]:
pd.merge(a,c,right_index=True,left_index=True,suffixes=(" nmae"," id"))

   A nmae  B nmae  A id  B id
0       1       5     4     8
1       2       6     3     7
2       3       7     2     6
3       4       8     1     5

# Concating

In [14]:
s1=pd.Series([1,2,3,4])
s2=pd.Series([5,6,7,8])

In [15]:
s1

0    1
1    2
2    3
3    4
dtype: int64

In [16]:
s2

0    5
1    6
2    7
3    8
dtype: int64

In [17]:
pd.concat([s1,s2])

0    1
1    2
2    3
3    4
0    5
1    6
2    7
3    8
dtype: int64

In [18]:
pd.concat([a,b])

    A    B    C
0   1  5.0  NaN
1   2  6.0  NaN
2   3  7.0  NaN
3   4  8.0  NaN
0   4  NaN  8.0
1   3  NaN  7.0
2   2  NaN  6.0
3  15  NaN  5.0

In [19]:
pd.concat([a,b],axis=1)

   A  B   A  C
0  1  5   4  8
1  2  6   3  7
2  3  7   2  6
3  4  8  15  5

In [20]:
pd.concat([a,b],axis=0)

    A    B    C
0   1  5.0  NaN
1   2  6.0  NaN
2   3  7.0  NaN
3   4  8.0  NaN
0   4  NaN  8.0
1   3  NaN  7.0
2   2  NaN  6.0
3  15  NaN  5.0

In [21]:
pd.concat([a,b],axis=1,join="outer")

   A  B   A  C
0  1  5   4  8
1  2  6   3  7
2  3  7   2  6
3  4  8  15  5

In [22]:
pd.concat([a,b],axis=1,join="inner")

   A  B   A  C
0  1  5   4  8
1  2  6   3  7
2  3  7   2  6
3  4  8  15  5

In [23]:
pd.concat([a,b],axis=1,join="inner",keys=["a","b"])

   a      b
   A  B   A  C
0  1  5   4  8
1  2  6   3  7
2  3  7   2  6
3  4  8  15  5

In [24]:
pd.concat([a,b],axis=0,join="inner",keys=["a","b"])

      A
a 0   1
  1   2
  2   3
  3   4
b 0   4
  1   3
  2   2
  3  15

can be implimented in different cases .

In [25]:
d=pd.DataFrame({"A":[4,3,2,1]})
e=pd.DataFrame({"A":[4,3,2,1],"C":[8,7,6,5]})
pd.concat([d,e])

   A    C
0  4  NaN
1  3  NaN
2  2  NaN
3  1  NaN
0  4  8.0
1  3  7.0
2  2  6.0
3  1  5.0