In [1]:
import pandas as pd

# Groupby

In [2]:
a=pd.DataFrame({"name":["a","b","c","d","a","c","d","b"],"s":[2,3,4,3,54,6,5,6]})

In [3]:
a

  name   s
0    a   2
1    b   3
2    c   4
3    d   3
4    a  54
5    c   6
6    d   5
7    b   6

In [4]:
b=a.groupby("name")
b

In [5]:
for x,y in b:
    print(x,":",y)

a :   name   s
0    a   2
4    a  54
b :   name  s
1    b  3
7    b  6
c :   name  s
2    c  4
5    c  6
d :   name  s
3    d  3
6    d  5

In [6]:
b.get_group('a')

  name   s
0    a   2
4    a  54

In [7]:
b.min()

      s
name
a     2
b     3
c     4
d     3

In [8]:
b.max()

       s
name
a     54
b      6
c      6
d      5

In [9]:
b.mean()

         s
name
a     28.0
b      4.5
c      5.0
d      4.0

In [10]:
l=list(b)
l

[('a',
    name   s
  0    a   2
  4    a  54),
 ('b',
    name  s
  1    b  3
  7    b  6),
 ('c',
    name  s
  2    c  4
  5    c  6),
 ('d',
    name  s
  3    d  3
  6    d  5)]